{% extends "backend/base.html" %}

{% block content %}
<div class="container-md site-container">

    <!-- Главный контейнер -->
    <div class="container-md mt-5">
        <div class="row justify-content-center align-items-top">
            <!-- Аватарка -->
            <div class="col-4">
                <img src="https://img.freepik.com/free-vector/mysterious-mafia-man-smoking-cigarette_52683-34828.jpg?w=826&t=st=1678618018~exp=1678618618~hmac=ea416d598467ae43cc431081515e0bb0a25e41cb22385a045ec12ca347842f9a"
                     class="img-fluid img-thumbnail rounded" alt="Аватар">
                <h3>{{ request.user.login }}</h3>
            </div>

            <!-- Данные -->
            <form method="post" action="{% url 'backend:lk_edit' %}" class="col-8">
                {% csrf_token %}

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <label class="form-label">Дата регистрации</label>
                        <p class="lead">{{ request.user.registration_date }}</p>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <label class="form-label">Имя</label>
                        <input type="text" class="form-control" name="first_name"
                               placeholder="Введите Ваше имя" value="{{ request.user.first_name }}">
                    </div>
                </div>
                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <label class="form-label">Фамилия</label>
                        <input type="text" class="form-control" name="last_name"
                               placeholder="Введите Вашу фамилию" value="{{ request.user.last_name }}">
                    </div>
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <label class="form-label">Адрес почты</label>
                        <input type="email" class="form-control" name="email"
                               placeholder="Введите Вашу почту" value="{{ request.user.email }}">

                    </div>
                </div>
                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <label class="form-label">Возраст</label>
                        <input type="number" class="form-control" name="age"
                               placeholder="Введите Ваш возраст" value="{{ request.user.age }}">

                    </div>
                </div>
                <br>
                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <button class="form-control btn mainButton" type="submit">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
