{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

<!-- форма добавления идеи -->

<form class="order-main-container" method="post" action="{% url 'main:idea_add' %}">
    {% csrf_token %}
    <textarea name="title" placeholder="title"></textarea>
    <textarea name="rubrics" placeholder="rubrics"></textarea>
    <textarea name="preview" placeholder="preview"></textarea>
    <textarea name="body" placeholder="body"></textarea>

    <button type="submit" style="width:100px;height:40px"></button>
</form>

<!-- список со всеми идеями. выводиться через цикл -->

{% for item in ideas %}

      <div>
          <h1>{{ item.autor }}</h1>
          <h1>{{ item.title }}</h1>
          <h1>{{ item.rubrics }}</h1>
          <h1>{{ item.preview }}</h1>
          <h1>{{ item.body }}</h1>

          <!-- кнопка удаления  идеи -->
          <a href="{% url 'main:idea_delete' item.pk %}">удалить</a>

           <!-- форма изменеения  идеи -->
          <form class="order-main-container" method="post" action="{% url 'main:idea_edit' item.pk %}">
              {% csrf_token %}
              <textarea name="title-edit" placeholder="{{ item.title }}"></textarea>
              <textarea name="rubrics-edit" placeholder="{{ item.rubrics }}"></textarea>
              <textarea name="preview-edit" placeholder="{{ item.preview }}"></textarea>
              <textarea name="body-edit" placeholder="{{ item.body }}"></textarea>

              <button type="submit" style="width:100px;height:40px"></button>
          </form>

      </div>

{% endfor %}

{% endblock content %}